<div class="container">

  <!-- 网站简介 -->

  <div class="">
    <div class="row">
      <div class="about-title-box col-xs-10">
        <span class="about-title-e">What is Sound Credit.</span><br>
        <h1 class="about-title-c">关于 我们</h1>
      </div>
      <div class="col-xs-2 pull-right ">
        <%= link_to("Back to Home", "/", class: "btn btn-sm btn-default") %>
      </div>
    </div>
  </div>



  <p class="about-info">
    武汉尚德信出国咨询有限公司自成立以来一直专注于海外投资移民业务，<br>
    以专业的外籍律师团队、完善的客户服务体系、贴心的海外安家服务，<br>
    与战略合作伙伴携手为客户提供高品质、诚信的海外投资移民咨询、文案制作、海外接待以及多种增值服务，<br>
    立志让所有尚德信投资移民的客户都享受到尊贵的一站式专属移民服务。
  </p>






</div>
