<footer class="footer-style">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h5>尚德信投资移民</h5>
        <p class="footer-style-p">武汉尚德信出国咨询有限公司自成立以来一直专注于海外投资移民业务，
          以专业的外籍律师团队、完善的客户服务体系、贴心的海外安家服务，与战略合作伙伴携手为客户提供高品质、
          诚信的海外投资移民咨询、文案制作、海外接待以及多种增值服务，立志让所有尚德信投资移民的客户都享受
          到尊贵的一站式专属移民服务。</p>
        <p>24小时服务热线：13971579967／13971558907</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 text-right">
        <div class="col-xs-4">
          <h5>尚德信服务</h5>
          <p>美国移民</p>
          <p>欧洲移民</p>
        </div>
        <div class="col-xs-4">
          <h5>客户指南</h5>
          <p>常见问题</p>
          <p>帮助中心</p>
        </div>
        <div class="col-xs-4">
          <h5>关于我们</h5>
          <p>公司介绍</p>
          <p>联系方式</p>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <div class="row">
      <p class="text-center">地址：武汉市汉口新华路纽宾凯国际酒店2503室 网址：
          <%= link_to("http://www.sdxvisa.com/", about_index_path) %>
      </p>
      <p class="text-center">Copyright &copy;2017 尚德信投资移民 - Design by
          <%= link_to("ifstack", about_index_path) %>
      </p>
    </div>
  </div>
</footer>
